@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@500;700;900&display=swap');

/* reset */
body,
h1,
h2,
h3,
a,
ul,
li,
p,
hr,
img,
button{
    margin : 0;
    padding : 0;
}
h1, h2, h3{
    font-family : Noto Sans KR, serif;
}
button{
    background: none;
    border : none;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color :inherit;
}
body{
    font-family: 'Noto Sans KR';
}

.container{
    margin : 86px auto 135px auto;
    width : 1060px;
    background-color: rgba(242,242,242,1);
    border : 2px solid rgba(189,189,189,1);
    border-radius: 15px;
}

.header{
    margin : 0 auto;
    padding : 41px 0 34px 0;
    width : 650px;
    border-bottom: 2px solid rgba(189,189,189,1);
}
.header h1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.select-list{
    margin : 28px auto 28px auto;
    width : 372px;
    display : flex;
    justify-content: space-between;
    gap : 60px;
}

.main h2{
    /* font-family: 'Roboto',serif; */
    font-size : 16px;
    font-weight : 500;
}
.select{
    /* font-weight: 900; */
}

.wrap{
    background-color: white;
    margin : 0 auto 31px auto;
    width : 1003px;
    border-radius: 15px;
    border : 2px solid rgba(189,189,189,1);
}
.movie-list{
    padding : 26px 27px;
    display : grid;
    grid-template-columns: repeat(4,1fr);
    gap : 24px 23px;
}
.cinema-card{
    width : 220px;
    border-radius : 10px;
    border : 1px solid #bdbdbd;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.cinema-inner{
    padding : 19px 20px;
}

.cinema-inner img{
    width : 100%;
    aspect-ratio: 180/250;
    object-fit : cover;

    border : 1px solid #bdbdbd;
    border-radius : 10px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.25);
}

.cinema-title{
    font-weight: 900;
    margin : 12px 0;
    /* 말줄임 처리 */
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.cinema-info{
    font-size: 13px;

    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap : 5px;
}

.cinema-info .type{
    font-size : 13px;
}

.cinema-info .type{
    color : #828282;
    margin-right : 5px;
}

.cinema-info .star{
    background: url(../images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 1em;
    padding-left : 1.2em;
}

.btn-group{
    display : flex;
    border-top : 1px solid #bdbdbd;
}

.btn-go,
.btn-view{
    background-color: #f2f2f2;
    width : 100%;
    font-size : 14px;
    height : 41px;
}

.btn-go{
    display : flex;
    align-items : center;
    justify-content: center;
    border-radius: 0 0 0 10px;
    border-right : 1px solid #bdbdbd;
}

.btn-go:focus-visible{
    z-index: 1;
}

.btn-view{
    border-radius: 0 0 10px 0;

    display : flex;
    align-items: center;
    justify-content: center;
}

.btn-view::before{
    content: "";
    display : inline-block;
    width : 1em;
    height : 1em;
    
    background-image: url(../images/icon-play.svg);
    background-repeat: no-repeat;
    background-size: cover;

    vertical-align: middle;
}

.footer section{
    background-color: rgba(242,242,242,1);
    padding : 53px 365px 38px 366px;
}
.footer .space-between{
    display : flex;
    justify-content: space-between;
    margin-bottom : 42px;
}

.footer-jungle{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.twit,
.insta,
.face{
    width : 24px;
    height : 24px;
}
.footer-flex{
    display : flex;
    gap : 24px;
}

.footer hr{
    margin-bottom: 36px;
}