@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,
h1,
h2,
h3,
p,
a,
button,
ol,
li,
input,
label{
    margin : 0;
    padding : 0;
}
img{
    vertical-align: top;
}
input{
    font : inherit;
    border : none;
}

a{
    color : inherit;
    font : inherit;
    text-decoration: none;
}
button{
    background: inherit;
    border:none;
    font : inherit;
}
ol,li{
    list-style: none;
}
body{
    background-color: #c4c4c4;
    font-family: 'SpoqaHanSansNeo-Regular';
}
.main{
    margin : auto;
    width : 520px;
    min-width : 520px;
    background-color: white;
    border : 1px soild #C4C4C4;
    border-radius: 10px;
    padding-bottom: 15px;
}

h2{
    text-align: center;
    font-size: 16px;
    padding:18px 0;
    border-bottom: 1px solid #C4C4C4;
}

.main-text{
    padding : 24px 26px 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 20px;
    font-weight: 500;
}

form{
    display : flex;
    flex-direction: column;
}

.form-id,
.form-pw{
    padding-left : 16px;
    border-radius: 5px;
    border : 1px solid rgba(196,196,196,1);
}

#id{
    box-sizing: border-box;
    margin : 24px 24px 0 24px;
    height : 50px;
}

#pw{
    box-sizing: border-box;
    margin : 10px 24px 0 24px;
    height : 50px;
}

.login-con{
    margin : 16px 351px 0 28px;
}

.login{
    margin : 20px 24px 0 24px;
    background: rgba(47, 128, 237, 1);
    padding : 14px 211px;
    border-radius: 5px;
    color : white;
}

.join-idpwfind{
    display : flex;
    justify-content: center;
    margin : 20px auto 0;
    color: rgba(118, 118, 118, 1);
    font-size: 14px;
    font-weight: 400;
}
.join::after{
    content : '|';
    padding : 0 12px;
}
.section2{
    position : relative;
    padding : 0 auto ;
}
.line{
    margin : 38px 24px 29px;
    box-sizing: border-box;
}
.or{
    text-align: center;
    width : 52px;
    height : 18px;

    background-color: white;
    display : block;
    
    font-size: 14px;
    color : rgba(118, 118, 118, 1);
    position : absolute;
    left : 50%;
    top : -2px;
    transform: translate(-50%,-50%);
}

.login-other{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-other a{
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;

    display : block;

    padding : 5px 0;
    margin-bottom : 10px;
    font-weight : 500;

    width : 472px;
    height : 50px;

    border-radius: 5px;

    color :rgba(118, 118, 118, 1);
}

.google{
    position: relative;
    border: 1px solid rgba(118, 118, 118, 1);
}

.facebook{
    position: relative;
    border : 1px solid rgba(45, 156, 219, 1);
}

.naver{
    position: relative;
    border : 1px solid rgba(0, 191, 24, 1);
}
.kakao{
    position: relative;
    border : 1px solid rgba(242, 201, 76, 1);
}

.login-other a div{
    position: absolute;

    width : 22px;
    height : 22px;
    
    top : 13px;
    left : 12px;
}