<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <% include ./layout/navbar.ejs %>
        <%= data %>
            <!-- <% if(false){ %>
        <div>ejs working</div>
        <% } else { %>
            <div>ejs not working</div>
            <% } %> -->
</body>

</html>