@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.weniv-logo{
    margin-top : 130px;
}

.footer-p{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top : 20px;
    margin-bottom: 70px;
    text-align: center;
    color : rgba(255, 255, 255, 1);
}